<h1>Reminder</h1>
<table>
    <tr>
        <th>Project</th>
        <td>{{project}}</td>
    </tr>
    <tr>
        <th>Charge</th>
        <td>{{charge}}</td>
    </tr>
    <tr>
        <th>Currency</th>
        <td>{{currency}}</td>
    </tr>
</table>
